@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --main-text-color: #333333;
  --bg-color: #ffffff;
  --primary-color: #4756df;
  --secondary-color: #39ea2d;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  color: var(text-color);
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1{
  color : var(--primary-color);
}
nav a{
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover{
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
nav ul{
  display: flex;
  gap: 1.9rem;
}
nav ul li{
  font-weight: var(--bold-font);
}
.burger-menu{
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  display: none;
  border: 0;
  background-color: transparent;
}
.hero-img{
  width: 20rem;
  height: auto;
  border-radius: 50%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: 3rem auto 0 auto;
}
.bio{
  width: 25rem;
  padding:0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
.bio h1{
  margin-bottom: var(--bottom-margin);
}
.bio p{
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
.more-about{
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}
.more-about h2{
  text-align: center;
  margin-bottom: var(--bottom-margin);
}
.more-about p{
line-height: var(--line-height);
padding: 0.4rem;
}